* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: 'Public Sans webfont', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

.container {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  font-size: 0.9rem;
  margin-bottom: 7px;
}

.list__link, .nav__link {
  text-decoration: underline;
  padding: 0;
  font-weight: 300;
  color: #000;
}

.nav {
  margin-top: 40px;
  padding-left: 0;
  list-style: none;
}

.nav__item {
  display: inline-block;
  margin-right: 7px;
  font-size: 0.8rem;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  text-align: center;
  padding: 20px 0;
}

article h1, article h2, article h3, article h4, article h5, article h6, article p, article li {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}

article li {
  margin-bottom: 11px;
  font-size: 1.1rem;
}

article ul, article ol {
  padding-left: 15px;
}

article h1 {
  font-size: 2rem;
}

article h2 {
  line-height: 2em;
}

article p, article li {
  line-height: 1.8rem;
  font-family: serif;
  font-size: 1.1rem;
}

article a {
  color: #008b8b;
}

@media screen and (max-width: 480px) {
  article h1 {
    font-size: 1.5rem;
  }
  article p {
    font-size: 0.9rem;
  }
}
