<section class="post">
  <h2 class="post__title">
    <a class="post__title-link" href="/content/posts/<%= locals.slug %>">
      <%= locals.title || '' %>
    </a>
  </h2>
  <h4 class="post__byline">
    <time datetime="<%= locals.date %>">
      <%= new Date(locals.date).toDateString() %>
    </time>
  </h4>
</section>