.article {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.article-title {
  flex-grow: 1;
  margin: 0;
  > a {
    font-weight: 600;
    color: #E2C891;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.article-date {
  display: none;
  margin: 0;
  font-weight: 600;
  color: #6C839C;

  @media screen and (min-width: 480px) {
    display: block;
  }
}