.navbar {
  background-color: #262932;
  border-bottom: 2px solid #262933;
  margin-bottom: 40px;
}

.navbar-items {
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar-logo {
  flex-grow: 1;
  > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}

.navbar-item > a {
  text-decoration: none;
  color: #6C839C;
  padding: 20px;
  transition: all .4s ease;
  
  &:last-child {
    padding-right: 0;
  }
  &:hover {
    color: #fff;
  }
}