<div class="section">
  <h3 class="section-title">Recent Articles</h3>

  <% Object.keys(public.articles._data).map(function(key) { %>
    <article class="article">
      <h3 class="article-title">
        <a href="/articles/<%- key %>"><%- public.articles._data[key].title %></a>
      </h3>
      <h3 class="article-date"><%- public.articles._data[key].date %></h3>
    </article>
  <% }) %>
</div>
