<div class="hero">
  <h1 class="hero-title">Hi, I'm Kameron,</h1>
  <h2 class="hero-content">
    I'm a senior front end developer at <a href="https://tryflux.com">flux</a>. I enjoy writing articles about JavaScript and React.
  </h2>
</div>