<div class="section">
  <h3 class="section-title">Work history</h3>
  <div class="icons">
    <a href="https://tryflux.com" target="_blank" rel="noreferrer noopener" class="icons-icon">
      <img src="/images/flux.png" alt="Flux">
    </a>
    <a href="http://motivii.com" target="_blank" rel="noreferrer noopener" class="icons-icon">
      <img src="/images/motivii.jpeg" alt="Motivii">
    </a>
  </div>
</div>