$container-width: 900px;
$container-margin-desktop: 0 auto;
$container-margin-mobile: 10px;

.container {
  width: $container-width;
  margin: 0 auto;

  @media screen and (max-width: $container-width) {
    width: calc(100% - #{$container-margin-mobile * 2});
    margin: 0 $container-margin-mobile;
  }
}
